[submodule "apps_native/TriCNES/TriCNES"]
	path = apps_native/TriCNES/TriCNES
	url = https://github.com/100thCoin/TriCNES
[submodule "apps_native/Fami/Fami"]
	path = apps_native/Fami/Fami
	url = https://github.com/RupertAvery/Fami
[submodule "vendor/Terminal.Gui"]
	path = vendor/Terminal.Gui
	url = https://github.com/tui-cs/Terminal.Gui
